<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
<footer data-layout-fragment="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom navbar-dark bg-dark">
    <p class="text-center text-muted">&copy; 2018 JALO</p>
  </nav>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</footer>
</body>
</html>